/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px; /* antara ujung container sama awal di isiu\*/
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-shadow: black 10px 10px 5px;
}

h1 {
  color: #333;
  text-align: center;
}

p {
  line-height: 1.6;
}

.nav {
  margin: 20px 0;
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #007bff;
  margin: 0 10px;
  transition-property: transform, scale;
  transition-duration: 200ms;
}

.nav a:hover {
  text-decoration: underline;
  transform: translateX(-0.5rem);
}
